type project
include-pdbs true
title LibJpConjSharp
projectUrl https://github.com/milleniumbug/LibJpConjSharp
licenseExpression Apache-2.0
description
  This is a C# port of the LibJpConj library (a part of the JapKatsuyou project).

files
  bin/Release/netstandard2.0/* ==> lib/netstandard2.0